body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  scroll-behavior: smooth;
}

.title {
  font-family:"Lato", sans-serif;
  color:#666;
  font-size:16px;
  font-weight:400;
  line-height:1.8em;
  margin:0;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/manhattan-336708_1920.jpg');
  min-height:100%;
}

.pimg2 {
  min-height: 400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-middle{
  background-color: #B0B2B4;
  color: white;
  padding:50px 80px;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  font-family: 'Dancing Script', cursive;
  background-color:#111;
  color:#fff;
  padding:10px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.description {
  background: -webkit-linear-gradient(#434343, #000000);
  font-family: 'Abel', cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120%;
  color:white;
}

table, th, td {
  border: 1px, solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

#table_title {
  text-align: center;
  color:black;
}

.icon {
  height: 40px;
  width: 40px;
}

ul {
  position: absolute;
  width: 0%;
  top: 44.5%;
}

table {
  font-family: 'Abel', cursive;
  font-size: 120%;
  color: white;
}

h2 {
  text-align: center;
  margin: 0%;
}

a {
  text-decoration: none;
  color: inherit;  
}

A:hover {
  opacity: .5;
}

.read_more {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0%;
}

.centered {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}